/* ----------Responsive Design Smartphone---------- */
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: 16px;
    font-weight: bold;
    color: #373D40;
}

/* Image holder */
.canvasHolder{
    margin: 20px 0 20px 0;
}
/* Image */
#canvas{
    object-fit: contain;
}

/* Loading Spinner  */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #456F81;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #456F81 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Edit toolbar*/
.toolbar {
    padding: 20px 5px 20px 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
}
/* Edit Icons rows */
.row {
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Edit Icon first row */
.row:first-child {
    margin-bottom: 20px;
}
/* Edit arrows, trash can */
.btn {
    color: black;
}
.btn.disabled {
    color: #ACAFB2;
}
/* Edit size dots */
:host .size {
    background-color: black;
}
.size.selected {
    background-color: #ACAFB2;
}
/* Color dots */
.color {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Color inner dots */
.color.selected::after {
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 10px;
}
/* Color dot White */
.color.white {
    border: 1px solid #ACAFB2;
}
/* Color dot Black */
.color.black {
    background-color: black;
}
/* Color dot Black inner dot */
.color.black.selected::after {
    background: white;
}

/* Buttons area */
.buttonarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Buttons: Save, Cancel */
.CancelSaveButton {
    outline: 0;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 10px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
/* Save button */
.CancelSaveButton.Save {
    color: white;
    background-color: #456F81;
    border: 1px solid #456F81;
}
.CancelSaveButton.Save:hover {
    transform: scale(1.03);
}
.CancelSaveButton.Save.disabled {
    opacity: 0.5;
    pointer-events: none;
}
/* Cancel Edit button */
.CancelSaveButton.Cancel {
    color: #456F81;
    background-color: white;
    border: 1px solid #456F81;
}
.CancelSaveButton.Cancel:hover {
    transform: scale(1.03);
}