<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="wrapper">
    <!-- Title -->
    <h2 class="title">Capture Downtime-Message</h2>
    
    <!-- Machinedate table -->
    <div class="machinedata">
        <div class="item eqlabel">EquipmentNo: </div>
        <div class="content eqcontent">{{equipmentno}}</div>
        <div class="item evlabel">EventID: </div>
        <div class="content evcontent">{{eventid}}</div>
        <div class="item tslabel">TimeStamp: </div>
        <div class="content tscontent">{{timestamp}}</div>
        <div class="item nalabel">Name: </div>
        <div class="content nacontent">{{name}} {{surname}}</div>
    </div>

    <!-- Image -->
    <div class="captureimg">
        <!-- Open Camera Button -->
        <label for="captureimg" class="custom-file-upload" *ngIf="!imgURL">Open Camera</label>
        <input #captureImgInput type="file" accept='image/*' (change)="preview(captureImgInput.files)" capture="environments" id="captureimg" />
        
        <!-- Open Gallery Button-->
        <label for="galleryimg" class="custom-file-upload" *ngIf="!imgURL">Open Galery</label>
        <input #galleryImgInput type="file" accept='image/*' (change)="preview(galleryImgInput.files)" id="galleryimg">

        <!-- Photo preview -->
        <img [src]="imgURL" class="imgpreview" *ngIf="imgURL" id="imgpreview">
        
        <!-- Delete button -->
        <button class="delete"  *ngIf="imgURL" (click)="deleteImage()" id="delete">
            <!-- Delete button Icon -->
            <img src="../../assets/Icons/PapierkorbIcon.png" class="deleteIcon "alt="Delete" [border]="0" id="deleteIcon"/>
        </button> 
    </div>


    <!-- Comment -->
    <div class="comment">
        <span>Comment </span>
        <span class="optional">(optional): </span>
        <!-- Comment field -->
        <div class="comment-input">
            <textarea rows="5" [(ngModel)]="comment" style ="resize: none;" placeholder="Add a comment..." (input)="updateCharCount($event)" id="comment-input"></textarea>     
        </div>
        <!-- Comment counter -->
        <span class="limit">{{charCount}}/300</span>
    </div> 
    
    
    <!-- <div class="comment" *ngIf="imgURL">
        <span>Comment </span>
        <span class="optional">(optional): </span>
        <div class="add-comment">
            <div class="comment-input">

                <textarea id="comment" name="commentinput" value={comment} rows="7" [(ngModel)]="comment" style ="resize: none;" placeholder="Add a comment..." (input)="updateCharCount($event)"></textarea>      
                 <span class="limit">{{charCount}}/300</span>
                
            </div>
        </div>    -->


    <!-- Send button -->
    <div class="send">
        <label id="send" class="send-button" (click)="onSubmit()">Send<br>downtime Message</label>
    </div> 
        
</div>