/* Styling Smartphones */
 @media only screen and (max-width: 1300px) {

    .wrapper{
        height: 90vh;
        margin: 0 10px 0 10px;
        display: grid;
        grid-template-columns: auto; 
        grid-template-rows: 10% 15% 50% 20% 5%;
        grid-template-areas:
            "header"
            "dtcdata"
            "img"
            "comment"
            "send";    
    }


    .title{
        grid-area: header;
        text-align: center;
    }


    /* Section Table Data QR-Code */
    .maschinedata{
        grid-area: dtcdata;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
            "eqlabel eqcontent"
            "LabelEventid ContentEventid"
            "LabelTimestamp ContentTimestamp"
            "LabelName ContentName";
        column-gap: 10px;
        color: gray;
        margin: 0 0 0 20px;
        font-size: 12px;
    }
    .eqlabel{
        grid-area: eqlabel;
    }
    .eqcontent{
        grid-area: eqcontent;
    }
    .evlabel{
        grid-area: LabelEventid;
    }
    .evcontent{
        grid-area: ContentEventid;
    }
    .tslabel{
        grid-area: LabelTimestamp;
    }
    .tscontent{
        grid-area: ContentTimestamp;
    }
    .nalabel{
        grid-area: LabelName;
    }
    .nacontent{
        grid-area: ContentName;
    }
    
    
    /* Section Image */
    .captureimg{
        position: relative;
        grid-area: img;
        margin-top: 15px;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 20px 40px;
        cursor: pointer;
        background-color: #373d40;
        border: 1px solid #373d40;
        color: white;
    }

    #imgpreview{
        display:block;
        margin:auto;
        height: 100%;
        width: 72%;
        float: left;
    }

    /* Comment Section */
    .comment{
        grid-area: comment;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .optional{
        color: gray;
    }

    .add-comment {
        display: flex;
      }
      .add-comment .comment-input {
        position: relative;
        width: 97%;
        max-width: 600px;
      }

      .add-comment .comment-input input {
        margin-top: 5px;
        width: 96%;
        height: 60%;
        font: size 14px;
        font-family: HelveticaNeueLTStd-Th, sans-serif;
        overflow: auto;
        border: 2px solid #333;
      }
      
      .add-comment .comment-input input::placeholder {
        color: #c3ccd3;
      }


    /* Send Button */
    .send{
        grid-area: send;
    }

    .send button{
        height: 100%;
        width: 23%;
        color: #fff;
        background-color: #456f81;
        border-color: #456f81;
        border-style: solid;
        border: 2px solid #333;
        float: right;
        margin-right: 5px;
    }

    /* Delete Button */
    .delete{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        height: 15%;
        width: 10%;
        color: #fff;
        border: 1px solid #090909;
        border-radius: 10%;
        position: absolute;
        bottom: 0;
        right: 5px;
        background-color: white;
    } 

    img {
        width: 33px;
        height: 33px;
      }
    

    .limit {
        font-size: 12px;
        margin-top: 5px;
        display: block;
        background-color: white;
    }
    
    .delete:hover {
        background-color: red;
}



}

 
 

 


/* Styling Tablets */
/* @media only screen and (max-width: 1400px) { 
    
} */

