/* Styling Smartphones */
@media only screen and (max-width: 1300px) {

    .wrapper{
        position: relative;
        height: 90vh;
        margin: 0 10px 0 10px;
        display: grid;
        grid-template-rows: 10% 15% 45% 20% 10%;
        grid-template-areas:
            "header"
            "dtcdata"
            "img"
            "comment"
            "footer";  
    }


    /* Title */
    .title{
        grid-area: header;
        text-align: center;
    }


    /* Machinedata table */
    .machinedata{
        grid-area: dtcdata;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas: 
            "eqlabel eqcontent"
            "LabelEventid ContentEventid"
            "LabelTimestamp ContentTimestamp"
            "LabelName ContentName";
        column-gap: 10px;
        color: gray;
        margin: 0 20px 0 20px;
        font-size: 12px;
    }
    .eqlabel{
        grid-area: eqlabel;
    }
    .eqcontent{
        grid-area: eqcontent;
    }
    .evlabel{
        grid-area: LabelEventid;
    }
    .evcontent{
        grid-area: ContentEventid;
    }
    .tslabel{
        grid-area: LabelTimestamp;
    }
    .tscontent{
        grid-area: ContentTimestamp;
    }
    .nalabel{
        grid-area: LabelName;
    }
    .nacontent{
        grid-area: ContentName;
    }
    
    
    /* Image*/
    .captureimg{
        grid-area: img;
        margin: 15px 0 15px 0;
        text-align: center;
    }

    input[type="file"] {
        display: none;
    }

    /* Open Camera, Open Galery Button*/
    .custom-file-upload {
        display: inline-block;
        padding: 20px 40px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: #373d40;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin: 5px;
        width: 110px;
    }

    /*Photo preview*/
    #imgpreview{
        height: 100%;
        width: 75%;
        float: left;
        border-radius: 5px;
        border: 2px solid #000000;
    }

    
    /* Comment */
    .comment{
        grid-area: comment;
        font-size: 16px;
    }

    /* Comment (optional): */
    .optional{
        color: gray;
    }

    /* Comment field */
    #comment-input {
        margin: 5px 0 0 0;
        display: flex;
        max-width: 600px;
        width: 98%;
    }

    /* Comment counter */
    .limit {
        font-size: 12px;
    }


    /*.comment{
        grid-area: comment;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .optional{
        color: gray;
    }

    .add-comment {
        display: flex;
      }
      .add-comment .comment-input {
        position: relative;
        width: 97%;
        max-width: 600px;
      }

      .add-comment .comment-input input {
        margin-top: 5px;
        width: 96%;
        height: 60%;
        font: size 14px;
        font-family: HelveticaNeueLTStd-Th, sans-serif;
        overflow: auto;
        border: 2px solid #333;
      }
      
      .add-comment .comment-input input::placeholder {
        color: #c3ccd3;
      }
      #comment{
        width: 100%;
      }

      .limit {
        font-size: 12px;
        margin-top: 5px;
        display: block;
        background-color: white;
        position: relative;
    }*/

    
    /* Send button */
    .send{
        grid-area: footer;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
    }

    .send-button{
        display: inline-block;
        padding: 10px 10px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: white;
        background-color: #456f81;
        border-radius: 5px;
        border: 1px solid #333;
    }
    

    /* Delete Button */
    .delete{
        grid-area: img;
        position: absolute;
        bottom: 15px;
        right: 15px;
        color: #fff;
        background-color: white;
        border: 1px solid #090909;
        border-radius: 5px;
        width: 50px; 
        height: 50px;
    } 

    .delete:hover {
        background-color: #cc4545;
    }

    /* Delete button icon */
    #deleteIcon {
        width: 25px;
        height: 25px;
    }
}



/* Styling Tablets */
/* @media only screen and (max-width: 1400px) { 
    
} */