/* ----------Portrait, landscape mode---------- */
@media (orientation: portrait), (orientation: landscape){
    .layout{
        height: 90vh;
        margin: 0 10px 0 10px;
    }
}

/* ----------Responsive Design Smartphone---------- */

    /* ----------Header area---------- */


    /* Title */
    .title{
        display: grid;
        margin: 10px 0 15px 0;
        grid-template-columns: 35% 65%;
        grid-template-areas: 
            "logo header";
        align-items: center;
        justify-items: center;
    }
    /* Logo */
    .logo{
        display: grid;
        margin: 0 10px 0 10px;
        align-items: center;
        justify-items: center;
    }
    #KiefelLogo{
        width: 120px;
    }
    /* Header */
    .header{
        margin: 0 0 0 10px;
        font-size: 24px;
        font-weight: bold;
        color: #373D40;
        font-family: Arial, sans-serif;
    }

    /* Machinedata */
    .machinedata{
        display: inline-block;
    }

    /* Machinedata table */
    .machinedataTable{
        display: grid;
        text-align: left;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "labelTimestamp timestampContent"
            "labelName nameContent";
        line-height: 25px;
        column-gap: 10px;
        color: #7C7E80;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }
    
    /* ----------Photo area---------- */
    .photoarea{
        margin: 20px 0 10px 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "uploadButton uploadButton uploadButton uploadButton"
            "imageHolder imageHolder imageHolder imageButton";
    }
    .uploadButton{
        grid-area: uploadButton;
        z-index: 1;
        text-align: center;
        grid-template-areas: 
            "openCamera"
            "openGalery";
    }
    .imageHolder{
        grid-area: imageHolder;;
        display: grid;
        align-items: flex-end;
        align-items: center;
        justify-items: center;
        grid-row: 1/3;
        grid-column: 1/4;
    }
    .imageButton{
        grid-area: imageButton;
        display: grid;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        grid-column: 4/5;
    }

    /* Photo preview */
    #imgPreview {
        z-index: 1;
        max-height: 250px;
        max-width: 220px;
        object-fit: contain;
        border-radius: 13px;
        border: 2px solid white;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
    }

    input[type="file"] {
        display: none;
    }

    /* Open Camera & Galery button */
    .CameraGaleryUpload {
        display: inline-block;
        text-align: center;
        padding: 20px 40px;
        margin: 5px;
        width: 110px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #456F81;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
        font-family: Arial, sans-serif;
    }
    .CameraGaleryUpload:hover {
        transform: scale(1.03);
    }

    .toolbar{
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Delete button */
    .delete{
        width: 60px;
        height: 60px;
        margin: 5px;
        color: #373D40;
        background-color: #ff0000a8;
        border-radius: 5px;
        border: 1px solid #373D40;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
    } 
    .delete:hover {
        background-color: #ff00007a;
        transform: scale(1.03);
    }

    /* Delete button icon */
    #deleteIcon {
        width: 30px;
        height: 30px;
    }

    /* Edit button */
    .edit{
        width: 60px;
        height: 60px;
        margin: 5px;
        color: #373D40;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #373D40;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
    } 

    .edit:hover {
        background-color: #ACAFB2;
        transform: scale(1.03);
    }

    /* Edit button icon */
    #editIcon {
        width: 30px;
        height: 30px;
    }

    /* ----------Footer area---------- */
    .footerButtons{
        margin: 10px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "scan empty send";
    }
    .scan{
        grid-area: scan;
        display: grid;
        justify-items: end;
    }
    .send{
        grid-area: send;
        display: grid;
        order: -1;
    }


    /* Commentblock: Commenttext, Commentfiel, Commentcounter */
    .commentblock {
        text-align: left;
        max-width: 400px;
        margin: 0 auto;
      }
    
    /* Commenttext: Commentheading + Comment "(optional):" */
    .commenttext{
        font-size: 16px;
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
    }
    
    /* Commentheading */
    .commentheading{                                   
        color: #373D40;
    }

    /* Comment "(optional):" */
    .optional{
        color: #7C7E80;
    }

    /* Comment field */
    #commentfield {
        font-size: 16px;
        color: #373D40;
        font-family: Arial, sans-serif;
        margin: 5px 0 0 0;
        width: 98%;
        border-radius: 5px;
        border: 1px solid #373D40;
        resize: none;
        overflow: auto;
    }

    /* Comment counter */
    .limit {
        margin-left: auto;
        color: #373D40;
    }

    /* Scan another QR-Code button */
    .scanButton{
        text-align: center;
        padding: 10px;
        width: 140px;
        font-size: 16px;
        font-weight: bold;
        color: #456F81;
        background-color: white;
        border: 1px solid #456F81;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
        font-family: Arial, sans-serif;
    }
    .scanButton:hover {
        transform: scale(1.03);
    }

    /* Send button */
    .sendButton{
        text-align: center;
        padding: 10px;
        width: 140px;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #456F81;
        border: 1px solid #456F81;
        box-shadow: 0px 4px 10px 0px #ACAFB2;
        font-family: Arial, sans-serif;
    }
    .sendButton:hover {
        transform: scale(1.03);
    }
    .sendButton.disabled {
        opacity: 0.5;
        pointer-events: none;
    }


/* ----------Responsive Design Smartphone Small---------- */
@media only screen and (max-width: 341px) {

    /* ----------Header area---------- */
    /* Logo */
    #KiefelLogo{
        width: 100px;
    }

    /* Machinedata table */
    .machinedataTable{
        grid-template-columns: 38% 62%;
        max-width: 325;
        column-gap: 8px;
    }
    .eventidContent{
        grid-area: eventidContent;
        max-width: 150px;
    }

    /* ----------Photo area---------- */
    /* Photo preview */
    #imgPreview {
        max-height: 200px;
        max-width: 180px;
    }

    /* Scan another QR-Code button */
    .scanButton{
        width: 100px;
    }

    /* Send button */
    .sendButton{
        width: 100px;
    }
}


/* ----------Responsive Design Smartphone Medium---------- */
@media only screen and (min-width: 475px) {

    /* ----------Photo area---------- */
    .imageHolder{
        justify-items: end;
        grid-row: 1/3;
        grid-column: 2/3;
    }
    .imageButton{
        grid-column: 3/4;
    }
}


/* ----------Responsive Design Tablet---------- */
@media only screen and (min-width: 600px) {

    /* ----------Header area---------- */
    /* Title */
    .title{
        margin: 20px 0 25px 0;
    }
    .logo{
        margin: 0 35px 0 50px;
    }
    #KiefelLogo{
        width: 200px;
    }
    /* Header */
    .header{
        font-size: 32px;
    }

    /* Machinedata table */
    .machinedataTable{
        line-height: 25px;
        column-gap: 15px;
        font-size: 20px;
    }
    
    /* ----------Photo area---------- */
    .photoarea{
        margin: 25px 0 25px 0;
    }

    #imgPreview {
        max-height: 280px;
        max-width: 250px;
    }

    /* Open Camera & Galery button */
    .CameraGaleryUpload {
        padding: 30px 45px;
        margin: 10px;
        width: 140px;
        font-size: 20px;
    }

    /* Delete button */
    .delete{
        margin: 8px;
    } 

    /* Edit button */
    .edit{
        margin: 8px;
    }

    /* ----------Footer area---------- */
    .footerButtons{
        margin: 20px 0 0 0;
    }

    /* Commentblock: Commenttext, Commentfiel, Commentcounter */
    .commentblock {
        max-width: 450px;
      }
    
    /* Commenttext: Commentheading + Comment "(optional):" */
    .commenttext{
        font-size: 20px;
    }

    /* Comment field */
    #commentfield {
        font-size: 20px;
        margin: 10px 0 0 0;
        height: 100px;
    }

    /* Scan another QR-Code button */
    .scanButton{
        padding: 15px;
        width: 170px;
        font-size: 20px;
    }

    /* Send button */
    .sendButton{
        padding: 15px;
        width: 170px;
        font-size: 20px;
    }
}


/* ----------Responsive Design Tablet Large---------- */
@media only screen and (min-width: 768px) {

    /* ----------Header area---------- */
    /* ----------Header area---------- */
    /* Title */
    .title{
        margin: 30px 0 35px 0;
    }
    .logo{
        margin: 0 0 0 30px;
    }
    #KiefelLogo{
        width: 250px;
    }
    /* Header */
    .header{
        font-size: 40px;
        margin: 0 0 0 35px;
    }

    /* Machinedata table */
    .machinedataTable{
        line-height: 30px;
        column-gap: 20px;
        font-size: 24px;
    }
    
    /* ----------Photo area---------- */
    .photoarea{
        margin: 35px 0 35px 0;
    }
    
    #imgPreview {
        max-height: 350px;
        max-width: 320px;
    }

    /* Open Camera & Galery button */
    .CameraGaleryUpload {
        padding: 35px 50px;
        margin: 15px;
        width: 160px;
        font-size: 24px;
    }

    /* Delete button */
    .delete{
        width: 70px;
        height: 70px;
        margin: 12px;
    }

    /* Delete button icon */
    #deleteIcon {
        width: 35px;
        height: 35px;
    }

    /* Edit button */
    .edit{
        width: 70px;
        height: 70px;
        margin: 12px;
    }

    /* Edit button icon */
    #editIcon {
        width: 35px;
        height: 35px;
    }

    /* ----------Footer area---------- */
    .footerButtons{
        margin: 30px 0 0 0;
    }

    /* Commentblock: Commenttext, Commentfiel, Commentcounter */
    .commentblock {
        max-width: 550px;
      }
    
    /* Commenttext: Commentheading + Comment "(optional):" */
    .commenttext{
        font-size: 24px;
    }

    /* Comment field */
    #commentfield {
        font-size: 24px;
        margin: 12px 0 0 0;
        height: 130px;
    }

    /* Scan another QR-Code button */
    .scanButton{
        padding: 20px;
        width: 220px;
        font-size: 24px;
    }

    /* Send button */
    .sendButton{
        padding: 20px;
        width: 220px;
        font-size: 24px;
    }
}
/* Loading circle */
.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }