<div class="wrapper">
    <h2 class="title">Capture Downtime-Message</h2>

    <div class="maschinedata">
        <div class="item eqlabel">EquipmentNo: </div>
        <div class="content eqcontent">{{equipmentno}}</div>
        <div class="item evlabel">EventID: </div>
        <div class="content evcontent">{{eventid}}</div>
        <div class="item tslabel">TimeStamp: </div>
        <div class="content tscontent">{{timestamp}}</div>
        <div class="item nalabel">Name: </div>
        <div class="content nacontent">{{name}} {{surname}}</div>
    </div>

    <!-- Foto Aufnehmen Button, Preview des Fotos, Lösch Button -->
    <div class="captureimg">
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <label for="captureimg" class="custom-file-upload" *ngIf="!imgURL">Open Camera</label>
        <input #file type="file" accept='image/*' (change)="preview(file.files)" capture="environments" id="captureimg" />
        <img [src]="imgURL" height="200" *ngIf="imgURL" id="imgpreview">
        
       <button id="delete" *ngIf="imgURL" (click)="deleteImage()" class="delete" type="submit">
            <img src="../../assets/Icons/PapierkorbIcon.png" alt="buttonpng" [border]="0">
       </button> 
      </div>


      <!-- Kommentar verfassen-->
      <div class="comment" *ngIf="imgURL">
        <span>Comment </span>
        <span class="optional">(optional): </span>
        <div class="add-comment">
            <div class="comment-input">

                <textarea id="form-control form-control-sm" name="commentinput" rows="5"cols="80" placeholder="Add a comment..." (input)="updateCharCount($event)"></textarea>      
                 <span class="limit">{{charCount}}/300</span>


    <!-- Senden Button -->
    <div class="send" *ngIf="imgURL">
        <button id="send" (click)="onSave()">Send</button>
        
    </div> 
        
</div>
