    <div>
        <div class="wrapper">
            <div class="logo">
                <img src="../../../assets/QR-Code.svg" alt="Logo_downtimecapture" width="600" height="350"/>
              
            </div>
            <div class="content">
                <h2>{{results }}</h2>
                <h1> Wir sind das Team downtimecapture!</h1>
                <p>Link zu GitLab-Repo: <a href="https://inf-git.fh-rosenheim.de/sep-wif-23/downtimecapture" target="_blank">downtimecapture</a></p>
            </div>
        </div>
    </div>

