<!-- Error Messages -->
<ng-container *ngIf="hasPermission === undefined">
  <h2>Waiting for permissions.</h2>
  <blockquote>
    If your device does not has cameras, no permissions will be asked.
  </blockquote>
</ng-container>
  
<ng-container *ngIf="hasPermission === false">
  <h2>Please accept Permission to scan QR Code.</h2>
</ng-container>
  
<ng-container *ngIf="hasDevices === undefined">
  <h2>Couldn't check for devices.</h2>
  <blockquote>
    This may be caused by some security error.
  </blockquote>
</ng-container>
  
<ng-container *ngIf="hasDevices === false">
  <h2>No devices were found.</h2>
  <blockquote>
    I believe your device has no media devices attached to.
  </blockquote>
</ng-container>


<div class="layout">
  <!-- Select device camera button -->
  <div class="device" [hidden]="!hasDevices">
    <select class="deviceButton" (change)="onDeviceSelectChange($any($event.target).value)">
        <option value="" [selected]="!currentDevice">No Device</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
    </select>
  </div>

  <!-- QR-Code Scanner -->
  <div class="scanner" [hidden]="!hasDevices">
    <div class="scannerHolder">
      <zxing-scanner 
        [(device)]="currentDevice" 
        (scanSuccess)="onCodeResult($event)"
        (permissionResponse)="onHasPermission($event)"
        (camerasFound)="onCamerasFound($event)">
      </zxing-scanner>
    </div>
  </div>

  <!-- QR-Code Link -->
  <div class="results" [hidden]="!hasDevices">
    <section class="resultsLink" *ngIf="qrResultString">
      <a href="https://{{ qrResultString }}"> <b>Click here:</b><br>{{ qrResultString }}</a>
    </section>
  </div>

  <!-- Go to Waiting Page button -->
  <div class="wait" [hidden]="!hasDevices" >
    <button class="waitingPageButton" [class.linkDisplayed]="qrResultString" (click)="routeToWaiting()">Go to Waiting Page</button>
  </div>
</div>