/* ----------Portrait, landscape mode---------- */
@media (orientation: portrait), (orientation: landscape) {
    .layout{
        display: grid;
        grid-template-rows: 15% 50% 20% 15%;
        grid-template-areas:
            "device"
            "scanner"
            "results"
            "wait";
        justify-items: center;
        align-items: center;
    }

    .device{
        padding: 40px 0 40px 0;
    }

    .wait{
        padding: 70px 0 0 0;
    }
}

/* ----------Responsive Design Smartphone---------- */
/* QR-Code Scanner holder */
.scannerHolder{
    width: 250px;
    height: 250px;
}

/* QR-Code Link */
.resultsLink {
    position: sticky;
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    background: #456F81;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    display: flex;
    flex-wrap: wrap;
}
.resultsLink a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    word-break: break-all;
}

/* Go to Waiting Page button */
.waitingPageButton{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #456F81;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.waitingPageButton:hover {
    transform: scale(1.03);
}
.waitingPageButton.linkDisplayed {
    color: #456F81;
    background-color: white;
    border: 1px solid #456F81;
}

/* device cameras button */
.deviceButton{
    text-align: center;
    outline: 0;
    text-decoration: none;
    padding: 15px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    color: #456F81;
    background-color: white;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.deviceButton:hover {
    transform: scale(1.03);
}