/* ----------Responsive Design Smartphone---------- */

/* ----------Layout---------- */
.layout{
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "header"
        "buttons";
}

/* Issues successfully send titel */
.successMessage{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-size: bold;
    color: #373D40;
    justify-items: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* ----------Buttons area---------- */
.buttonsarea{
    grid-area: buttons;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "scan"
        "okay";
    justify-items: center;
    align-items: center;
}

/* Scan another QR-Code button */
.scan{
    grid-area: scan;
    text-align: center;
    padding: 15px;
    margin: 0 0 10px 0;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    color: #456F81;
    background-color: white;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.scan:hover {
    transform: scale(1.03);
}

/* Okay button */
.okay{
    grid-area: okay;
    text-align: center;
    padding: 15px;
    margin: 10px 0 25px 0;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #456F81;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.okay:hover {
    transform: scale(1.03);
}


/* ----------Responsive Design Smartphone Small-------- */
@media only screen and (max-width: 341px) {

    /* Scan another QR-Code button */
    .scan{
        margin: 10px 0 5px 0;
    }

    /* Okay button */
    .okay{
        margin: 10px 0 25px 0;
    }
}

/* ----------Responsive Design Tablet------------------ */
@media only screen and (min-width: 600px) {

    /* Issues successfully send titel */
    .successmessage{
        font-size: 24px;
    }

    /* Scan another QR-Code button */
    .scan{
        padding: 25px;
        width: 190px;
        font-size: 20px;
    }

    /* Okay button */
    .okay{
        padding: 25px;
        margin: 10px 0 35px 0;
        width: 190px;
        font-size: 20px;
    }
}