<div class="layout">
  <!-- Header area -->
  <div class="header">
    <h2 class="successMessage">Issue successfully send!</h2>
  </div>

  <!-- Buttons area -->
  <div mat-dialog-actions class="buttonsarea">
    <!-- Scan another QR-Code button -->
      <button mat-raised-button mat-dialog-close class="scan" (click)="openQRCodeScanner()">Scan another<br>QR-Code</button>

    <!-- Okay button -->
      <button mat-raised-button mat-dialog-close class="okay" (click)="routeToWaiting()">OK</button>
  </div>
</div>