/* You can add global styles to this file, and also import other style files */

body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #373D40;
    height: 100vh;
    width: 100vw;
}

/* Style for Modal */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';