/* ----------Portrait, landscape mode---------- */
@media (orientation: portrait), (orientation: landscape){
    .layout{
        height: 90vh;
        margin: 0 10px 0 10px;
    }
}

/* ----------Responsive Design Smartphone---------- */

/* Title */
.title{
    font-size: 24px;
    color: #373D40;
    font-family: Arial, sans-serif;
}
 
.text{
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 20px;
    color: #373D40;
    font-family: Arial, sans-serif;
}
 
/* Scan another QR-Code button */
.scanButton{
    text-align: center;
    padding: 15px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #456F81;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.scanButton:hover {
    transform: scale(1.03);
}