<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!-- Loading -->
<ng-container *ngIf="isLoading">
    <h2>Loading ...</h2>
</ng-container>

<!-- Error -->
<ng-container *ngIf="hasError">
    <h2>Error Loading</h2>
    <blockquote>
    Please select another photo.
    </blockquote>
</ng-container>


<div class="layout">
    <!-- Image holder-->
    <div class="canvasHolder">
        <!-- Image -->
        <canvas id="canvas"></canvas>
    </div>

    <div *ngIf="!isLoading">
        <!-- Edit toolbar -->
        <div class="toolbar">
            <!-- Edit Icons row one -->
            <div class="row">
                <span *ngFor="let drawingSizeName of drawingSizesName" class="size btn"
                    [style.width.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                    [style.height.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                    [style.borderRadius.px]="drawingSizes[drawingSizeName] * 0.4 + 4"
                    [class.selected]="currentSize == drawingSizeName"
                    [title]="getTooltipTranslated('sizes.' + drawingSizeName)"
                    (click)="selectDrawingSize(drawingSizeName)">
                </span>

                <i class="material-icons btn" [class.disabled]="!canUndo" (click)="undo()"
                    [title]="getTooltipTranslated('undo')">undo</i>
                <i class="material-icons btn" [class.disabled]="!canRedo" (click)="redo()"
                    [title]="getTooltipTranslated('redo')">redo</i>
                <i class="material-icons btn" (click)="clearCanvas()" [title]="getTooltipTranslated('clear')">delete</i>
            </div>
            
            <!-- Edit Icons row two -->
            <div class="row">
                <div *ngFor="let colorName of colorsName" [class.selected]="currentColor == colorName" class="color"
                    [ngClass]="colorName"
                    [style.background]="colors[colorName]" [title]="getTooltipTranslated('colors.' + colorName)"
                    (click)="selectColor(colorName)">
                </div>
            </div>
        </div>


        <!-- Buttons area-->
        <div class="buttonarea">
            <!-- Cancel Edit button -->
            <button id="cancel" class="CancelSaveButton Cancel" (click)="cancelAction()">Cancel Edit</button>

            <!-- Save button -->
            <button id="save" class="CancelSaveButton Save" [ngClass]="{'CancelSaveButton Save': true, 'disabled': isLoading || hasError}" (click)="saveImage()">Save</button>
        </div>
    </div>
<div>