/* ----------Responsive Edit Popup---------- */
.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image holder */
.canvasholder{
    margin-bottom: 20px;
}
/* Image */
#canvas{
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
}

/* Edit toolbar*/
.toolbar {
    padding: 20px 5px 20px 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
}
/* Edit Icons rows */
.row {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Edit Icon first row */
.row:first-child {
    margin-bottom: 10px;
}
/* Edit arrows, trash can */
.btn {
    color: black;
}
.btn.disabled {
    color: #ACAFB2;
}
/* Edit size dots */
:host .size {
    background-color: black;
}
.size.selected {
    background-color: #ACAFB2;
}
/* Color dots */
.color {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Color inner dots */
.color.selected::after {
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px;
}
/* Color dot White */
.color.white {
    border: 1px solid #ACAFB2;
}
/* Color dot Black */
.color.black {
    background-color: black;
}
/* Color dot Black inner dot */
.color.black.selected::after {
    background: white;
}

/* Buttons: Save, Cancel */
.buttons {
    margin: 10px;
    display: flex;
    flex-direction: row;
}
/* Buttons design */
.button {
    outline: 0;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 10px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
/* Save button */
.button.btn-primary {
    background-color: #456F81;
    border: 1px solid #456F81;
}
.button.btn-primary:hover {
    transform: scale(1.03);
}
/* Cancel button */
.button.btn-light {
    background-color: #373D40;
    border: 1px solid #373D40;
}
.button.btn-light:hover {
    transform: scale(1.03);
}