<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<!-- Loading -->
<div class="loading" *ngIf="isLoading">
    <ng-container *ngTemplateOutlet="loadingTemplate ? loadingTemplate : defaultLoading"></ng-container>
</div>

<ng-template #defaultLoading><p>Loading ...</p></ng-template>

<!-- Error -->
<div class="error" *ngIf="hasError">
    <ng-container *ngTemplateOutlet="errorTemplate ? errorTemplate : defaultError"></ng-container>
</div>

<ng-template #defaultError> <p>{{ errorMessage }}</p> </ng-template>


<div class="layout">
    <!-- Image holder-->
    <div class="canvasholder">
        <!-- Image -->
        <canvas id="canvas"></canvas>
    </div>

    <div *ngIf="!isLoading">
        <!-- Edit toolbar -->
        <div class="toolbar">
            <!-- Edit Icons row one -->
            <div class="row">
                <span *ngFor="let drawingSizeName of drawingSizesName" class="size btn"
                    [style.width.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                    [style.height.px]="drawingSizes[drawingSizeName] * 0.8 + 8"
                    [style.borderRadius.px]="drawingSizes[drawingSizeName] * 0.4 + 4"
                    [class.selected]="currentSize == drawingSizeName"
                    [title]="getTooltipTranslated('sizes.' + drawingSizeName)"
                    (click)="selectDrawingSize(drawingSizeName)">
                </span>

                <i class="material-icons btn" [class.disabled]="!canUndo" (click)="undo()"
                [title]="getTooltipTranslated('undo')">undo</i>
                <i class="material-icons btn" [class.disabled]="!canRedo" (click)="redo()"
                [title]="getTooltipTranslated('redo')">redo</i>
                <i class="material-icons btn" (click)="clearCanvas()" [title]="getTooltipTranslated('clear')">delete</i>
            </div>
            
            <!-- Edit Icons row two -->
            <div class="row">
                <div *ngFor="let colorName of colorsName" [class.selected]="currentColor == colorName" class="color"
                    [ngClass]="colorName"
                    [style.background]="colors[colorName]" [title]="getTooltipTranslated('colors.' + colorName)"
                    (click)="selectColor(colorName)">
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="buttons">
            <!-- Cancel button -->
            <button id="cancel" class="button btn-light" (click)="cancelAction()">Cancel</button>

            <!-- Save button -->
            <button id="save" class="button btn-primary" (click)="saveImage()">Save</button>
        </div>
    </div>
</div>