<div class="layout">
    <!-- Header area -->
    <div class="headerarea">

        <!-- Title -->
        <div class="heading">
            <h2 class="title">Capture Downtime Message</h2>
        </div>
        <div class = "actions">Waiting for action... </div>
    </div>

    <!-- buttons -->
    <div class="footerButtons">
        <div class="scan">
            <!-- Scan another QR-Code button -->
            <button id="scan" class="customFileUpload" (click)="scanAnotherQRCode()">Scan another<br>QR-Code</button>
        </div>
    </div> 
