/* ----------Responsive Design Smartphone---------- */
.layout{
    display: grid;
    grid-template-areas: 
        "title"
        "text"
        "scan";
    align-items: center;
    justify-items: center;
}

/* Title */
.title{
    grid-area: title;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #373D40;
    font-family: Arial, sans-serif;
}

/* Error text */
.text{
    margin: 30px;
    grid-area: text;
    text-align: center;
    font-size: 16px;
    color: #373D40;
    font-family: Arial, sans-serif;
}

/* Scan another QR-Code button */
.scan{
    grid-area: scan;
    outline: 0;
    text-align: center;
    padding: 10px;
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #456F81;
    border-radius: 5px;
    border: 1px solid #456F81;
    box-shadow: 0px 4px 10px 0px #ACAFB2;
    font-family: Arial, sans-serif;
}
.scan:hover {
    transform: scale(1.03);
}


/* ----------Responsive Design Smartphone Small---------- */
@media only screen and (min-width: 600px) {

    .title{
        font-size: 24px;
    }
    
    .text{
        margin: 35px;
        font-size: 20px;
    }
    
    .scan{
        padding: 15px;
        width: 210px;
        font-size: 20px;
    }
}